<!-- Danh sách lớp đăng ký -->
    <div class="modal fade" id="myFormModal" tabindex="-1">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Đăng ký</h4>
                </div>

                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label>Tên người dùng: </label>
                            <input type="text" class="form-control" name="{{ current_user.role.id }}" value="{{ current_user.role.name }}" readonly>
                        </div>
                        <div class="mb-3">
                            <label>Email: </label>
                            <input type="text" class="form-control" name="{{ current_user.role.email }}" value="{{ current_user.role.email }}" readonly>
                        </div>
                        <div class="mb-3">
                            <label>Tên khóa học: </label>
                            <input type="text" class="form-control" name="{{ course.id }}" value="{{ course .name }}" readonly>
                        </div>

                        <button type="submit" class="btn btn-danger w-100">
                            Đăng Ký
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
