/* common */
.btn-lg {
    width: 150px
}

/* course register */
.card {
    border-radius: 20px;
}

table caption {
  caption-side: top; /* hoặc bottom */
  font-weight: bold;
  font-size: 1.2rem;
  padding: 8px;
}

.card-body > * {
    margin-top: 20px;
}

.card-title {
    font-size: 35px;
}

.card-text {
    font-size: 20px;
}

/* course-detail */
.table th,
.table td {
  border-width: 5px !important;
}

.table > caption {
     font-size: 35px;
     color: black;
}

.register-panel {
    border: 3px solid black;
}

.register-panel > .title {
    font-size: 35px;
    font-weight: bold;
}

.register-panel > * {
    margin-top: 15px;
    text-align: center;
}

.register-panel > .price {
    font-size: 25px;
    font-weight: bold;
}

.register-panel > .desc {
    font-size: 25px;
}

.center-box {
        display: flex;
        justify-content: center;
        align-items: center;
}

.stats-card{
    border: None;
    border-radius: 20;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    background: #fff;
    padding: 20px;
    height: 100%;
}

