<div class="container pb-2">
    <div class="row">
    <div class="col md-4">
        <div class="stats-card">
            <h5 class="mb-1 font-weight-bold">Số lượng sinh viên</h5>
            <a href="/admin/student_stats/" class="btn btn-primary">Thống kê</a>
        </div>
    </div>
     <div class="col md-4">
        <div class="stats-card">
            <h5 class="mb-1 font-weight-bold">Doanh thu</h5>
            <a href="/admin/revenue_stats/" class="btn btn-primary">Thống kê</a>
        </div>
    </div>
     <div class="col md-4">
        <div class="stats-card">
            <h5 class="mb-1 font-weight-bold">Tỷ lệ đạt</h5>
            <a href="/admin/rate_stats/" class="btn btn-primary">Thống kê</a>
        </div>
    </div>
</div>
</div>