{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}

{% if current_user.is_authenticated and current_user.staff %}

{% block content %}
{% include 'admin/cards.html' %}
{% endblock %}

<div class="row pt-2 pl-1">
    <div class="col-md-5 col-xs-12">
        <table class="table table-bordered">
            <tr class="table-secondary">
                <th>Mã khóa học</th>
                <th>Tên khóa học</th>
                <th>Số lượng bài học</th>
            </tr>
            {% for s in stats %}
            <tr>
                <td>{{ s[0] }}</td>
                <td>{{ s[1] }}</td>
                <td>{{ s[2] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-md-7 col-xs-12">
        <div style="height: 400px; width: 600px">
            <canvas id="myCourseChart"></canvas>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    let labels = []
    let data = []
    let colors = []
    let borderColor = []
    let r ,g, b

    {% for s in stats %}
    labels.push('{{ s[1] }}')
    data.push({{ s[2] }})

    r = Math.random()*255
    g = Math.random()*255
    b = Math.random()*255

    colors.push(`rgba(${r}, ${g}, ${b}, 0.3)`)
    borderColor.push(`rgba(${r}, ${g}, ${b}, 1)`)
    {% endfor %}

    window.onload = function(){
    const ctx = document.getElementById('myCourseChart').getContext('2d');
    loadChart(ctx, labels, data, 'bar', colors,borderColor)
    }

function loadChart(ctx,labels, data, type, colors, borderColor){
     const myChart = new Chart(ctx, {
        type: type,
        data: {
          labels: labels,
          datasets: [{
            label: 'Số lượng bài học',
            data: data,
            backgroundColor: colors,
            borderColor: borderColor,
            borderWidth: 1
          }]
        },
        options: {
        responsive: true,
        maintainAspectRatio: false
        }
     });
}
</script>


{% else %}
<h3 class="alert alert-danger">Bạn cần đăng nhập với vai trò là nhân viên!</h3>

{% endif %}
<footer>
    <div class="jumbotron">
        <h1>E-commerce Website</h1>
        <p>Wis &copy; 2021</p>
    </div>
</footer>
{% endblock %}

