{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}
{% if current_user.is_authenticated and current_user.staff %}
<h1 class="text-center text-danger">Thống kê tỷ lệ đạt</h1>

<div class="row pt-3 pl-2">
    <div class="col-md-5 col-xs-12">
        <table class="table table-bordered text-center">
            <tr class="table-secondary">
                <th>Khóa học</th>
                <th>Số lượt điểm</th>
                <th>Lượt điểm đạt</th>
                <th>Tỷ lệ đạt</th>
            </tr>
            {% for s in pass_rate_stats %}
            <tr>
                <td>{{ s[0] }}</td>
                <td>{{ s[1] }}</td>
                <td>{{ s[2] }}</td>
                <td>{{ "{:,.0f}".format(s[3] or 0)|replace(",", ".") }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-md-7 col-xs-12">
        <form class="pb-2">
            <div class="form-group" style="width:600px;">
                <input type="date" class="form-control" name="from_date">
            </div>
            <div class="form-group" style="width:600px;">
                <input type="date" class="form-control" name="to_date">
            </div>
            <input type="submit" value="Thống kê" class="btn btn-warning">
        </form>
        <div style="height: 250px; width: 600px;">
            <canvas id="PassRateStatsId">
            </canvas>
        </div>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    let labels = []
    let data = []
    let colors = []
    let borderColor = []
    let r ,g, b

    {% for s in pass_rate_stats %}
    {% if s[3] %}

    labels.push('{{ s[0] }}')
    data.push({{ s[3] }})

    r = Math.random()*255
    g = Math.random()*255
    b = Math.random()*255
    colors.push(`rgba(${r}, ${g}, ${b}, 0.3)`)
    borderColor.push(`rgba(${r}, ${g}, ${b}, 1)`)

    {% endif %}
    {% endfor %}

    window.onload = function(){
    const ctx = document.getElementById('PassRateStatsId').getContext('2d');

    loadChart(ctx, labels, data,'doughnut', colors, borderColor)
    }

function loadChart(ctx,labels, data, type, colors, borderColor){
     const myChart = new Chart(ctx, {
        type: type,
        data: {
          labels: labels,
          datasets: [{
            label: 'Tỷ lệ đạt',
            data: data,
            backgroundColor: colors,
            borderColor: borderColor,
            borderWidth: 1
          }]
        },
        options: {
        responsive: true,
        maintainAspectRatio: false
        }
     });
}
</script>
{% endif %}

{% endblock%}