<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-success" href="/">English Center</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Trang chủ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('course_list') }}">Khóa học</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Giới thiệu</a>
                </li>
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    {% if current_user.role.avatar %}
                        <img src="{{ current_user.role.avatar }}" alt="{{ current_user.role.name }}" class="rounded-circle" width="40">
                    {% else %}
                        <img src="{{ url_for('static', filename='images/default_avatar.jpg') }}" alt="{{ current_user.role.name }}" class="rounded-circle" width="40">
                    {% endif %}
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout_account') }}">Đăng xuất</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/login-account">Đăng nhập</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('register_account') }}">Đăng ký</a>
                </li>
                {% endif %}

                {% if current_user.is_authenticated %}
                      <!-- Hary -->
                    {% if current_user.student %}
                    <li class="nav-item dropdown" >
                        <a class="nav-link dropdown-toggle text-warning " href="#" id="myLearningDropdown" role="button"data-bs-toggle="dropdown" aria-expanded="false">My Learning</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="/student-profile">Thông tin cá nhân</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/student-courses">Khóa học của tôi</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/student-score">Xem điểm</a>
                            </li>
                        </ul>
                    </li>
                    {% endif %}

                <!-- giao vien-->

                 {% if current_user.teacher %}

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-info" href="#" id="myClassDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        My Class
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="myClassDropdown">
                        <li><a class="dropdown-item" href="/teacher-profile">Thông tin cá nhân</a></li>
                        <li><a class="dropdown-item" href="/teacher-sections">Danh sách lớp dạy</a></li>
                        <li><a class="dropdown-item" href="/teacher-input-score">Nhập điểm</a></li>
                        <li><a class="dropdown-item" href="/teacher-attendance">Điểm danh</a></li>
                    </ul>
                </li>
                {% endif %}

<!-- avatar-->
                <li class="nav-item d-flex align-items-center ms-2">
                    {% if current_user.role and current_user.role.avatar %}
                    <img src="{{ current_user.role.avatar }}" alt="{{ current_user.role.name }}" class="rounded-circle" width="40">
                    {% endif %}
                </li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>