<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-success" href="/">English Center</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Trang chủ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('course_list') }}">Khóa học</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Giới thiệu</a>
                </li>
                {% if current_user.is_authenticated %}
                    {% if current_user.role.avatar %}
                    <li class="nav-item">
                        <img src="{{ current_user.role.avatar }}" alt="{{ current_user.role.name }}" class="rounded-circle" width="40" height="40" style="object-fit: cover;">
                        <span class="ml-2 text-white">{{ current_user.role.name }}</span>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <img src="{{ url_for('static', filename='images/default_avatar.jpg') }}" alt="{{ current_user.role.name }}" class="rounded-circle" width="40" height="40" style="object-fit: cover;">
                        <span class="ml-2 text-white">{{ current_user.role.name }}</span>
                    </li>
                    {% endif %}

                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout_account') }}">Đăng xuất</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/login-account">Đăng nhập</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('register_account') }}">Đăng ký</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>