{% extends 'layout/base.html'  %}

{% block title %}Dang nhap tai khoan{% endblock %}

{% block content %}
<h1 class="text-center" xmlns="http://www.w3.org/1999/html">Đăng nhập tài khoản</h1>

{% if err_msg %}
<div class="alert alert-danger">
    <h4>{{ err_msg }}</h4>
</div>
{% endif %}

<form method="post" action="{{ url_for('login_account') }}">
    <div class="form-floating mb-3 mt-3">
        <label for="username">Tên đăng nhập</label>
        <input type="text" class="form-control" id="username" placeholder="Tên tài khoản..." name="username" required />
    </div>

    <div class="form-floating mt-3 mb-3">
        <label for="pwd">Mật khẩu</label>
        <input type="password" class="form-control" id="pwd" placeholder="Mật khẩu..." name="password" required />
    </div>


    <div class="form-floating mt-3 mb-3">
        <button type="submit" class="btn btn-danger">Đăng nhập</button>
        <div class="mt-3 mb-1">
          Bạn có thể <a href="/register-account">Đăng ký tài khoản</a> nếu chưa có !!!
        </div>
    </div>
</form>

{% endblock %}