{% extends 'layout/base.html'  %}

{% block title %}Chi tiết khóa học{% endblock %}

{% block content %}

{% include 'components/modal_class.html' %}

<h1 class="text-center p-4"><b>Chi tiết khóa học</b></h1>

<div class="row">
    <!-- Danh sách bài học -->
    <div class="col-md-6 col-xs-12">
        <table class="table table-bordered">
            <caption class="text-center">Nội dung bài học</caption>
            <thead>
            <tr>
                <th>Tên bài học</th>
                <th style="text-align: center;">Nội dung</th>
            </tr>
            </thead>
            {% for l in lessons %}
            <tbody>
            <tr>
                <td>{{ l.title }}</td>
                <td style="text-align: center"><a href="#" class="btn btn-primary">Xem chi tiết</a></td>
            </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>

    <!-- Bảng đăng ký chi tiết -->
    <div class="col-md-6 col-xs-12">
        <div class="d-flex flex-column register-panel">
            <div class="text-center title">{{ course.name }}</div>
            <img src="{{ url_for('static', filename='images/course.jpg') }}" alt="{{ course.name }}">
            <div class="price">Giá tiền: {{ course.price }} VND</div>
            <div class="desc"><b>Mô tả:</b> {{ course.description }}</div>
            <div class="p-2">
                <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#myFormModal" onclick="classRegisterModal({{ course.id }})">Đăng
                    ký
                </button>
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myFormModal" onclick="classRegisterModal({{ course.id }})">
                    Chọn lớp
                </button>
            </div>
        </div>
    </div>
</div>

<br>
<hr>
<br>

{% endblock %}