{% extends 'layout/base.html'  %}

{% block title %}Dang ky khoa hoc{% endblock %}

{% block content %}
{% include 'components/modal_class.html' %}

<h1 class="text-center p-4">Đăng ký khóa học</h1>

<div class="row">
    {% for c in courses %}
    <div class="col-md-4 col-8 p-2">
        <div class="card" style="height: 550px">
          <img class="card-img-top" src="{{ c.image }}" alt="{{ c.name }}">
          <div class="card-body">
            <h4 class="card-title">{{ c.name }}</h4>
            <p class="card-text"><b>Giá tiền:</b> {{ c.price }} VND</p>
            <p class="card-text"><b>Mô tả:</b> {{ c.description }}</p>
            <div class="d-flex justify-content-around pt-4">
                <button class="btn btn-danger btn-lg" data-toggle="modal" data-target="#myFormModal" onclick="classRegisterModal({{ c.id }})">Đăng ký</button>
                <a href="{{ url_for('course_detail', course_id=c.id) }}" class="btn btn-primary btn-lg">Xem chi tiết</a>
            </div>
          </div>
        </div>
    </div>
    {% endfor %}
</div>



{% endblock %}