{% extends 'layout/base.html'  %}

{% block title %}Khoa hoc{% endblock %}

{% block content %}

<h1 class="text-center p-4">Trang khóa học</h1>

<div class="row">
    {% for c in courses %}
    <div class="col-md-4 col-8 p-2">
        <div class="card" style="height: 550px">
          <img class="card-img-top" src="{{ c.image }}" alt="{{ c.name }}">
          <div class="card-body">
            <h4 class="card-title">{{ c.name }}</h4>
            <p class="card-text"><b>Giá tiền:</b> {{ "{:,.0f}".format(c.price) }} VND</p>
            <p class="card-text"><b>Mô tả:</b> {{ c.description }}</p>
            <div class="d-flex justify-content-around pt-4">
                <a href="{{ url_for('course_detail', course_id=c.id) }}" class="btn btn-primary btn-lg w-100 p-3">Xem chi tiết</a>
            </div>
          </div>
        </div>
    </div>
    {% endfor %}
</div>



{% endblock %}