<!--{% extends 'layout/base.html'  %}-->

<!--{% block title %}Chi tiết khóa học{% endblock %}-->

<!--{% block content %}-->

<!--{% if request.args.get('err_msg') %}-->
<!--<div class="alert alert-danger d-flex align-items-center">-->
<!--    <div>{{ request.args.get('err_msg') }}</div>-->
<!--    <button type="button" class="close ml-auto" data-dismiss="alert">x</button>-->
<!--</div>-->
<!--{% endif %}-->

<!--{% if request.args.get('msg') %}-->
<!--<div class="alert alert-success d-flex align-items-center">-->
<!--    <div>{{ request.args.get('msg') }}</div>-->
<!--    <button type="button" class="close ml-auto" data-dismiss="alert">x</button>-->
<!--</div>-->
<!--{% endif %}-->

<!--<h1 class="text-center">Trang lập hóa đơn</h1>-->
<!--<label for="student">Chọn học viên</label>-->
<!--<select class="form-control" name="student_id" id="student">-->
<!--    <option value="">Chọn học viên</option>-->
<!--    {% for s in students %}-->
<!--    <option value="{{ s.id }}">Tên học viên: {{ s.name }}</option>-->
<!--    {% endfor %}-->
<!--</select>-->

<!--<h2 class="text-center mt-5">Danh sách hóa đơn</h2>-->



<!--{% endblock %}-->