<!--{% extends 'layout/base.html'  %}-->

<!--{% block title %}Chi tiết khóa học{% endblock %}-->

<!--{% block content %}-->

<!--{% if err_msg %}-->
<!--<div class="alert alert-danger">-->
<!--    <h4>{{ err_msg }}</h4>-->
<!--</div>-->
<!--{% endif %}-->

<!--<h1 class="text-center">Trang đăng ký khóa học cho học viên</h1>-->
<!--<form action="/staff-enroll-section" method="POST">-->
<!--    <label for="section">Chọn phiên học</label>-->
<!--    <select name="section_id" id="section">-->
<!--        {% for s in sections %}-->
<!--        <option value="{{ s.id }}"></option>-->
<!--        {% endfor }-->
<!--    </select>-->
<!--    <label for="student">Chọn học viên</label>-->
<!--    <select name="student_id" id="student">-->
<!--        {% for s in students %}-->
<!--        <option value="{{ s.id }}">{{ s.name }}</option>-->
<!--        {% endfor %}-->
<!--    </select>-->
<!--</form>-->

<!--{% endblock %}-->