{% extends 'layout/base.html' %}

{% block title %}Lịch học của tôi{% endblock %}

{% block content %}
<h2 class="text-center">📅 Lịch học của tôi</h2>

<table class="table table-bordered table-striped mt-4">
    <thead class="table-dark">
        <tr>
            <th>Lịch học</th>
            <th>Phòng</th>
            <th>Khóa học</th>
            <th>Giảng viên</th>
        </tr>
    </thead>
    <tbody>
        {% for s in schedules %}
        <tr>
            <td>{{ s[0] }}</td>
            <td>{{ s[1] }}</td>
            <td>{{ s[2] }}</td>
            <td>{{ s[3] }}</td>
        </tr>
        {% else %}
        <tr>
            <td colspan="4" class="text-center text-danger">
                Bạn chưa đăng ký lớp nào
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
