<!--{% extends 'layout/base.html' %}-->

<!--{% block title %}Danh sách học viên{% endblock %}-->

<!--{% block content %}-->
<!--<h2>Danh sách học viên</h2>-->

<!--<table class="table table-bordered">-->
<!--    <thead>-->
<!--        <tr>-->
<!--            <th>#</th>-->
<!--            <th>Tên học viên</th>-->
<!--        </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--        {% for stu in students %}-->
<!--        <tr>-->
<!--            <td>{{ loop.index }}</td>-->
<!--            <td>{{ stu.name }}</td>-->
<!--        </tr>-->
<!--        {% else %}-->
<!--        <tr>-->
<!--            <td colspan="2">Chưa có học viên nào.</td>-->
<!--        </tr>-->
<!--        {% endfor %}-->
<!--    </tbody>-->
<!--</table>-->
<!--{% endblock %}-->
