{% extends 'layout/base.html' %}

{% block title %}Thông tin giáo viên{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">

        <div class="col-md-3 text-center">
            <img src="{{ current_user.teacher.avatar or url_for('static', filename='images/default_avatar.jpg') }}"
                 class="rounded-circle mb-3" width="150" height="150">

            <div class="list-group text-start">
                <a href="{{ url_for('teacher_profile') }}"
                   class="list-group-item list-group-item-action active">
                    Thông tin cá nhân
                </a>
                <a href="{{ url_for('teacher_sections') }}" class="list-group-item list-group-item-action">Lớp đang dạy</a>

                <a href="{{ url_for('teacher_attendance') }}" class="list-group-item list-group-item-action">Điểm danh</a>

            </div>

        </div>

        <!-- Cột phải: Thông tin -->
        <div class="col-md-9">
            <h3 class="mb-4">Thông tin giáo viên</h3>
            <table class="table">
                <tr>
                    <th>Họ và Tên</th>
                    <td>{{ current_user.teacher.name }}</td>
                    <td class="text-end">
                        <a href="#" class="text-success">chỉnh sửa</a>
                    </td>
                </tr>

                <tr>
                    <th>Email</th>
                    <td>{{ current_user.teacher.email }}</td>
                    <td class="text-end text-muted">
                        <i class="fa fa-lock"></i>
                    </td>
                </tr>

                <tr>
                    <th>Tên đăng nhập</th>
                    <td>{{ current_user.username }}</td>
                    <td></td>
                </tr>

                <tr>
                    <th>Mật khẩu</th>
                    <td>******</td>
                    <td class="text-end">
                        <a href="#" class="text-success">chỉnh sửa</a>
                    </td>
                </tr>

                <tr>
                    <th>Chuyên môn</th>
                    <td>{{ current_user.teacher.specialization or 'Chưa cập nhật' }}</td>
                    <td class="text-end">
                        <a href="#" class="text-success">chỉnh sửa</a>
                    </td>
                </tr>
            </table>
        </div>

    </div>
</div>
{% endblock %}
